@charset "UTF-8";
/*--- Elliot Preshia; March 25, 2019 edited from a document created by Christy Chatmon, Spring 2019*/

body {
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
	font-size: 15px;
	line-height: 1.8em;
	color: #284141;
	background-color: #578E8D;
	margin: 0;
	padding: 0;
	width: 100%;

}
#header {
	padding: 0;
	width: 100%;
	background-color: #77C2C5;
}

#container {
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
	font-size: 15px;
	line-height: 1.8em;
	color: #284141;
	overflow: hidden;
	padding-left: 50px;
	padding-right: 50px;
}

#content {
	width: 100%;
}
#halfcontent {
	width: 70%;
}

#sidebar {
	float: right;
	border: solid #799E7B;
	width: 20%;
	background-color: #77C2C5;
	padding: 2em;
	box-shadow: 5px 5px 5px #3d6665;
	
}

#footer {
	width: 100%;
}



/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.05em;
	line-height: 1.5em;
	color: #284141;
}
h1 {
	font-size: 24px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
}
h2 {
	font-size: 20px;
	padding: 6px;
	letter-spacing: 0.5em;
	background-color: #799E7B;
	font-variant: small-caps;
	border-bottom-color: #799E7B;
	color: #578E8D;
	margin-top: 0.1em;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-width: 4px;
	border-bottom-style: inset;
	border-bottom-color: #799E7B;
	padding: 4px 0;
	font-variant: small-caps;
    
}

/* link styles ---------------------------- */
a:link {
	font-weight: bolder;
	color: #F5E628;
	text-decoration: none;
}
a:visited {
	font-weight: bolder;
	color: #F5E628;
	text-decoration: none;
}
a:hover {
	color: #FFFF00;
}

/* list styles ----------------------------- */
ul li {
	margin-left: 14px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #799E7B 1px;
}
td {
	padding: 6px;
	border: solid #799E7B 1px;
}
th {
	font-weight: bold;
	background-color: #799E7B;
	text-align: center;
	padding: 6px;
	border: solid #799E7B 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #799E7B 2.5px;
}

#container img {
	border: solid #799E7B 2.5px;

}

iframe {
	border: solid #799E7B 2.5px;
	
}


